body {
    background-color: lightgray;
}

#searchBarContainer {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

#sideBarContainer {}

#mainContainer {}

#commentsContainer {}


#logo {
    width: 70px;
    height: 50px;
}

#search {
    width: 75%;
    float: left;
}

#searchbutton {
    width: 20%;
}

i {
    color: rgb(73, 77, 80);
    font-size: 20px;
}