body {
    background-color: rgb(244, 246, 248);
    font-family: 'Roboto';
}

.navbar {
    top: 0;
    width: 100%;
    background-color: white;
    position: fixed;
    left: 0;
    color: rgb(73, 77, 80);
    height: 80px;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul .navbarleft {
    float: left;
    display: flex;
    margin-top: 0.5%
}

.navbar ul .navbarleft #logo {
    width: 100px;
    height: 60px;
    margin-top: -20px;
}

.navbar ul .navbarcenter {
    position: absolute;
    left: 24%;

}

.navbar ul .navbarright {
    float: right;
    margin-right: 50px;
}

.navbar ul .navbarright li {
    padding: 10px;
    justify-content: flex-end;
}

.navbar ul i {
    font-size: 30px;
    color: rgb(79, 79, 80);
}

.navbar .fa-search {
    font-size: 20px;
}

.navbar .navbarcenter #searchbox {
    width: 900px;
    height: 40px;
    border-right: 0;
    border-radius: 4px;
}

.navbar .navbarcenter #searchbutton {
    width: 60px;
    height: 45px;
    border: none;
    border-radius: 2px;
    background-color: rgb(239, 240, 241);
}

.navbar .navbarcenter ::placeholder {
    padding-left: 10px;
    font-size: 23px;
}

.sidebar {
    margin-right: 100px;
    height: 100%;
    width: 30%;
    z-index: 1;
    float: right;
    display: flex;
    flex-direction: column;
}

.sidebar #autoplay {
    float: right;
}

.thumbnail {
    padding-bottom: 25px;
    display: flex;
}

.thumbtitle {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    color: rgb(87, 89, 90);
    line-height: 25px;
}

.thumbnailtitle {
    color: black;
    font-weight: bold;
    font-size: large;
}

.hr {
    padding-bottom: 20px;
}

.fa-toggle-on {
    color: blue;
    font-size: x-large;
}

#mainContainer {
    margin-top: 8%;
    margin-left: 40px;
    width: 60%;
}

#mainContainer p {
    font-size: 15px;
    margin-left: 6%;
}

.video {
    height: 720px;
    width: 100%;
}

.aboutvideo {
    display: flex;
    color: rgb(100, 94, 94);
    justify-content: space-between;
}

.aboutvideo #aboutvideoleft h5 {
    font-size: 18px;
    font-weight: lighter;
}

.aboutvideo #aboutvideoright {
    float: right;
    font-size: 20px;
}

.aboutvideo #aboutvideoright i {
    padding: 30px;
}

#videodescription,
.commentssection {
    padding: 20px;
}

.videodescriptionbar {

    display: flex;
    justify-content: space-between;
}

.videodescriptionbar #videoauthor {
    display: flex;
    justify-content: flex-start;
}

.videodescriptionbar img,
.commentssection img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}

.videodescriptionbar #subscribe {
    display: flex;
    justify-content: flex-end;
}

.videodescriptionbar #subscribebutton {
    color: aliceblue;
    background-color: rgb(155, 12, 12);
    width: 95px;
    height: 40px;
    border-radius: 5%;
    border-style: none;
    font-size: 14px;
}

#showmore {
    margin-left: 6%;
    background-color: inherit;
    border-style: none;
    color: rgb(80, 81, 82);
    font-weight: 530;
}

.comments {
    padding: 20px;
    display: flex;
    justify-content: flex-start;

}

.comments #txt {
    padding-right: 30px;
    font-weight: 500;
}

.comments i {
    color: rgb(80, 81, 82);
}

#duration {
    color: rgb(80, 81, 82);
}

#commentbox {
    border: none;
    background-color: inherit;

}